html, body{
    @include maxWidthHeight;
    overflow: hidden;
    background-color: $couleur_site;
}
h1, h2, h3, h4{
    @include fonteTitres;
}
h1{
    text-align: center;
}
footer{
    text-align: center;
}