html, body{
    @include maxWidthHeight;
    overflow: hidden;
    background-color: $couleur_site;
}
h1, h2, h3, h4{
    @include fonteTitres;
}
h1{
    text-align: center;
    border-bottom: 2px solid $couleur_titres;
    margin:{
        left: 300px;
        right: 300px;
    }
}
section{
    background-color: $couleur_menu;
    height: 600px;
    width: 100%;
}
footer{
    text-align: center;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}