html, body{
    @include maxWidthHeight;
    overflow-x: hidden;
    background-color: $couleur_site;
}
h1, h2, h3, h4{
    @include fonteTitres;
}
h1{
    text-align: center;
    border-bottom: 2px solid $couleur_titres;
    width: 800px;
    margin: {
        left: auto;
        right: auto;
        bottom: 60px;
        top: 70px;
    }
}
section{
    background-color: $couleur_menu;
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-bottom: 80px;
    div:nth-child(1){
        margin-bottom: 70px;
    }
    div:nth-child(2){
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
        grid-gap: 30px;
        justify-content: center;
    }
}
footer{
    text-align: center;
    bottom: 0;
    height: 40px;
    position: absolute;
    width: 100%;
}
img{
    width: 100%
}

@media only screen and (max-width: 1080px) {
    section{
        div:nth-child(2){
            grid-template-columns: 40% 40%;
            grid-gap: 30px;
        }
    }
}
@media only screen and (max-width: 640px) {
    section{
        div:nth-child(2){
            grid-template-columns: 80%;
            grid-gap: 20px;
        }
    }
}