img{
    animation-duration: 1s;
    opacity: 0;
}
h1{
    div{
        display: inline-block;
        opacity: 0;
    }
}

@keyframes opacite {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}