html, body{
    font-family: $font_main;
}
p{
    color: white;
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    max-width: 1000px;
    text-align: center;
    padding: {
        right: 30px;
        left: 30px;
        top: 50px;
    };
    margin: {
        left: auto;
        right: auto;
    }
}
section{
    text-align: center;
}
@media only screen and (max-width: 1080px) {
    p{
        font-size: 18px;
        text-align: justify;
    }
}
@media only screen and (max-width: 640px) {
    p{
        font-size: 17px;
    }
}